<!DOCTYPE html>
<html>
  <head>
    <title>Work Outer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <header>
  <div class = header_title>Work Outer</div>
      <div class = header_list>
        <p>About</p>
        <p>Post</p>
        <p>My Account</p>
        <p>Login</p>
      </div>
  </header>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
