<!DOCTYPE html>
<html lang ="ja">
  <head>
    <title>Work Outer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
<%#  背景画像 %>
  <div class = body>
  <div class = body_img>

  <%= render 'shared/header' %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <%= yield %>
    </div>
  </body>
</html>
